<!DOCTYPE html>
<html>
<head>
<title>GifTrippin'</title>
</head>

<body>
<p>GifTrippin'</p>
<p><%="Your Mantra is #{@search.mantra}."%></p>
<img id="gif" src="https://media.giphy.com/media/AwoDg0wJImOjK/200w.webp">
<img src=<%=@search.urllist[0] %> >
<p><%="Your URL is #{@search.urllist[0]}."%></p>
<p><%="Your URL is #{@search.urllist[1]}."%></p>
<p><%="Your URL is #{@search.urllist[2]}."%></p>
<p><%="Your URL is #{@search.urllist[3]}."%></p>
<p><%="Your URL is #{@search.urllist[4]}."%></p>
</body>

</html>
